Welcome to the Bog

<p>
  <a href="/creatures/view_all"> View all creatures </a>
</p>

<p>
  <a href="/creatures/new"> Add a creature </a>
</p>

<p>
  <a href="/creatures/new"> Delete a creature </a>
</p>

